<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="top.jianxiaopang.phone.controller"/>

    <!-- 开启SpringMVC注解模式 处理器映射器和适配器等-->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <!--配置允许跨域拦截器 -->
        <mvc:interceptor>
            <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->
            <mvc:mapping path="/**"/>
            <bean class="top.jianxiaopang.phone.interceptor.Interceptor"></bean>
        </mvc:interceptor>

        <!--配置登录状态拦截器 暂不开启，方便开发-->
        <mvc:interceptor>
            <mvc:mapping path="/backstage/**"/>
            <!-- /register 和 /login 不需要拦截-->
            <mvc:exclude-mapping path="/user/*"/>
            <mvc:exclude-mapping path="/backstage/select*"/>
            <bean class="top.jianxiaopang.phone.interceptor.TokenInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>