<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jianxiaopang.phone.dao.BackstageDao">
    <insert id="insertBatteryCapacity">
        insert into battery_capacity (scope)
        values
            (#{scope})
    </insert>

    <delete id="deleteBatteryCapacity">
        delete from battery_capacity
        where id = #{id}
    </delete>

    <update id="updateBatteryCapacity">
        UPDATE battery_capacity
        SET scope = #{scope}
        where id = #{id}
    </update>

    <select id="selectBatteryCapacity" resultType="top.jianxiaopang.phone.pojo.BatteryCapacity">
        select *
        from battery_capacity
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertBodyMaterial">
        insert into body_material (name)
        values
            (#{name})
    </insert>

    <delete id="deleteBodyMaterial">
        delete from body_material
        where id = #{id}
    </delete>

    <update id="updateBodyMaterial">
        UPDATE body_material
        SET name = #{name}
        where id = #{id}
    </update>

    <select id="selectBodyMaterial" resultType="top.jianxiaopang.phone.pojo.BodyMaterial">
        select *
        from body_material
    </select>

    <!--<resultMap id="BatteryCapacityList" type="top.jianxiaopang.phone.pojo.BatteryCapacity">  &lt;!&ndash;对象所在包名自取&ndash;&gt;-->
    <!--<id column="id" property="id" jdbcType="INTEGER"/>-->
    <!--<result column="scope" property="scope" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->

    <!--*******************************************************************************************-->

    <insert id="insertBrand">
        insert into brand (name)
        values
            (#{name})
    </insert>

    <delete id="deleteBrand">
        delete from brand
        where id = #{id}
    </delete>

    <update id="updateBrand">
        UPDATE brand
        SET name = #{name}
        where id = #{id}
    </update>

    <select id="selectBrand" resultType="top.jianxiaopang.phone.pojo.Brand">
        select *
        from brand
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertCpu">
        insert into cpu (name, grade)
        values
            (#{name}, #{grade})
    </insert>

    <delete id="deleteCpu">
        delete from cpu
        where id = #{id}
    </delete>

    <update id="updateCpu">
        UPDATE cpu
        SET name = #{name}, grade = #{grade}
        where id = #{id}
    </update>

    <select id="selectCpu" resultType="top.jianxiaopang.phone.pojo.Cpu">
        select *
        from cpu
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertFrontCamera">
        insert into front_camera (size)
        values
            (#{size})
    </insert>

    <delete id="deleteFrontCamera">
        delete from front_camera
        where id = #{id}
    </delete>

    <update id="updateFrontCamera">
        UPDATE front_camera
        SET size = #{size}
        where id = #{id}
    </update>

    <select id="selectFrontCamera" resultType="top.jianxiaopang.phone.pojo.FrontCamera">
        select *
        from front_camera
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertMicrousb">
        insert into microusb (name)
        values
            (#{name})
    </insert>

    <delete id="deleteMicrousb">
        delete from microusb
        where id = #{id}
    </delete>

    <update id="updateMicrousb">
        UPDATE microusb
        SET name = #{name}
        where id = #{id}
    </update>

    <select id="selectMicrousb" resultType="top.jianxiaopang.phone.pojo.Microusb">
        select *
        from microusb
    </select>

    <insert id="insertPrice">
        insert into price (scope)
        values
            (#{scope})
    </insert>

    <delete id="deletePrice">
        delete from price
        where id = #{id}
    </delete>

    <update id="updatePrice">
        UPDATE price
        SET scope = #{scope}
        where id = #{id}
    </update>

    <select id="selectPrice" resultType="top.jianxiaopang.phone.pojo.Price">
        select *
        from price
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertRamAndRom">
        insert into ram_and_rom (size)
        values
            (#{size})
    </insert>

    <delete id="deleteRamAndRom">
        delete from ram_and_rom
        where id = #{id}
    </delete>

    <update id="updateRamAndRom">
        UPDATE ram_and_rom
        SET size = #{size}
        where id = #{id}
    </update>

    <select id="selectRamAndRom" resultType="top.jianxiaopang.phone.pojo.RamAndRom">
        select *
        from ram_and_rom
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertRearCamera">
        insert into rear_camera (size)
        values
            (#{size})
    </insert>

    <delete id="deleteRearCamera">
        delete from rear_camera
        where id = #{id}
    </delete>

    <update id="updateRearCamera">
        UPDATE rear_camera
        SET size = #{size}
        where id = #{id}
    </update>

    <select id="selectRearCamera" resultType="top.jianxiaopang.phone.pojo.RearCamera">
        select *
        from rear_camera
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertResolution">
        insert into resolution (size)
        values
            (#{size})
    </insert>

    <delete id="deleteResolution">
        delete from resolution
        where id = #{id}
    </delete>

    <update id="updateResolution">
        UPDATE resolution
        SET size = #{size}
        where id = #{id}
    </update>

    <select id="selectResolution" resultType="top.jianxiaopang.phone.pojo.Resolution">
        select *
        from resolution
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertScreenMaterial">
        insert into screen_material (name)
        values
            (#{name})
    </insert>

    <delete id="deleteScreenMaterial">
        delete from screen_material
        where id = #{id}
    </delete>

    <update id="updateScreenMaterial">
        UPDATE screen_material
        SET name = #{name}
        where id = #{id}
    </update>

    <select id="selectScreenMaterial" resultType="top.jianxiaopang.phone.pojo.ScreenMaterial">
        select *
        from screen_material
    </select>

    <!--*******************************************************************************************-->

    <insert id="insertScreenSize">
        insert into screen_size (scope)
        values
            (#{scope})
    </insert>

    <delete id="deleteScreenSize">
        delete from screen_size
        where id = #{id}
    </delete>

    <update id="updateScreenSize">
        UPDATE screen_size
        SET scope = #{scope}
        where id = #{id}
    </update>

    <select id="selectScreenSize" resultType="top.jianxiaopang.phone.pojo.ScreenSize">
        select *
        from screen_size
    </select>

    <insert id="insertPhone" useGeneratedKeys="true" keyProperty="id" parameterType="top.jianxiaopang.phone.pojo.Phone">
        insert into phone (
        name,
        brand_id,
        cpu,
        battery_capacity,
        screen_size,
        resolution_id,
        screen_material_id,
        front_camera,
        rear_camera,
        body_material_id,
        microusb_id,
        infrared,
        nfc,
        storage_extension,
        quick_charge,
        screen_fingerprin,
        wireless_charging,
        ois,
        image_url,
        detail_url,
        battery_capacity_id,
        screen_size_id
        )
        values
        (
        #{name},
        #{brandId},
        #{cpu},
        #{batteryCapacity},
        #{screenSize},
        #{resolutionId},
        #{screenMaterialId},
        #{frontCamera},
        #{rearCamera},
        #{bodyMaterialId},
        #{microusbId},
        #{infrared},
        #{nfc},
        #{storageExtension},
        #{quickCharge},
        #{screenFingerprin},
        #{wirelessCharging},
        #{ois},
        #{imageUrl},
        #{detailUrl},
        #{batteryCapacityId},
        #{screenSizeId}
        )
    </insert>

    <insert id="insertRelation">
        insert into relation (ram_and_rom_id,price,phone_id)
        values
        (#{ramAndRomId},#{price},#{phoneId})
    </insert>

    <delete id="deletePhone">
        delete from phone
        where id = #{id}
    </delete>

    <delete id="deleteRelationById">
        delete from relation
        where id = #{id}
    </delete>

    <delete id="deleteRelationByPhoneId">
        delete from relation
        where phone_id = #{phoneId}
    </delete>

    <update id="updatePhone">
        UPDATE phone
        SET
        name = #{name},
        brand_id = #{brandId},
        cpu = #{cpu},
        battery_capacity = #{batteryCapacity},
        screen_size = #{screenSize},
        resolution_id = #{resolutionId},
        screen_material_id = #{screenMaterialId},
        front_camera = #{frontCamera},
        rear_camera = #{rearCamera},
        body_material_id = #{bodyMaterialId},
        microusb_id = #{microusbId},
        infrared = #{infrared},
        nfc = #{nfc},
        storage_extension = #{storageExtension},
        quick_charge = #{quickCharge},
        screen_fingerprin = #{screenFingerprin},
        wireless_charging = #{wirelessCharging},
        ois = #{ois},
        image_url = #{imageUrl},
        detail_url = #{detailUrl},
        battery_capacity_id=#{batteryCapacityId},
        screen_size_id = #{screenSizeId}
        where id = #{id}
    </update>

    <update id="updateRelation">
        UPDATE relation
        SET ram_and_rom_id = #{ramAndRomId},price = #{price}
        where id = #{id}
    </update>

    <select id="selectPhone" resultType="top.jianxiaopang.phone.pojo.ReturnPhone">
        select * from (SELECT p.screen_size_id as screenSizeId,p.battery_capacity_id as
        batteryCapacityId,p.id,p.name,b.name as brand,p.cpu as cpu,p.battery_capacity as batteryCapacity,
        p.screen_size as screenSize,r.size as resolution,sm.name as screenMaterial,
        p.front_camera as frontCamera,p.rear_camera as rearCamera,bm.name as bodyMaterial,
        m.name as microusb,p.infrared,p.nfc,p.storage_extension as storageExtension,
        p.quick_charge as quickCharge,p.screen_fingerprin as screenFingerprin,
        p.wireless_charging as wirelessCharging,p.ois,p.image_url as imageUrl,p.detail_url as detailUrl,MIN(rl.price) as price
        FROM phone p
        LEFT JOIN brand b
        ON p.brand_id=b.id
        JOIN resolution r
        ON p.resolution_id=r.id
        JOIN screen_material sm
        ON p.screen_material_id=sm.id
        JOIN body_material bm
        ON p.body_material_id=bm.id
        JOIN microusb m
        ON p.microusb_id=m.id
        JOIN relation rl
        ON p.id = rl.phone_id
        GROUP BY p.id
        <if test="order != null">
            order by price ${order}
        </if>
        ) t
        <if test="page != null">
            limit ${(page-1)*2},2
        </if>

    </select>

    <select id="selectPhoneCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM phone p
        LEFT JOIN  brand b
            ON p.brand_id=b.id
        JOIN resolution r
            ON p.resolution_id=r.id
        JOIN screen_material sm
            ON p.screen_material_id=sm.id
        JOIN body_material bm
            ON p.body_material_id=bm.id
        JOIN microusb m
            ON p.microusb_id=m.id
    </select>

    <select id="selectPhoneById" resultType="top.jianxiaopang.phone.pojo.ReturnPhone">
        SELECT  p.screen_size_id as screenSizeId,p.battery_capacity_id as batteryCapacityId,p.id,p.name,b.name as brand,b.id as brandId,p.cpu as cpu,p.battery_capacity as batteryCapacity,
               p.screen_size as screenSize,r.size as resolution,r.id as resolutionId,sm.name as screenMaterial,sm.id as screenMaterialId,
               p.front_camera as frontCamera,p.rear_camera as rearCamera,bm.name as bodyMaterial,bm.id as bodyMaterialId,
               m.name as microusb,m.id as microusbId,p.infrared,p.nfc,p.storage_extension as storageExtension,
               p.quick_charge as quickCharge,p.screen_fingerprin as screenFingerprin,
               p.wireless_charging as wirelessCharging,p.ois,p.image_url as imageUrl,p.detail_url as detailUrl
        FROM phone p
        LEFT JOIN  brand b
            ON p.brand_id=b.id
        JOIN resolution r
            ON p.resolution_id=r.id
        JOIN screen_material sm
            ON p.screen_material_id=sm.id
        JOIN body_material bm
            ON p.body_material_id=bm.id
        JOIN microusb m
            ON p.microusb_id=m.id
        where p.id = #{id}
    </select>

    <select id="selectReturnRelation" resultType="top.jianxiaopang.phone.pojo.ReturnRelation">
        SELECT r.id,rar.size as ramAndRom,rar.id as ramAndRomId,r.price,r.phone_id as phoneId
        FROM relation r
        JOIN ram_and_rom rar
            on r.ram_and_rom_id=rar.id
        WHERE r.phone_id=#{phoneId}
    </select>

</mapper>
